.search-container {
    width: 614px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 25px;
    padding: 5px;
    background-color: #fafafa;
}

.category-select {
    border: none !important;
    background: none !important;
    padding: 10px !important;
    border-radius: 50px !important;
    font-size: 14px !important;
    background: none !important;
    padding: 0 !important;
    outline: none !important;
    margin-right: 21px;
    margin-left: 0 !important;
}

.search-input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    outline: none;
    font-size: 14px;
    background-color: #fafafa;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.search-button img {
    width: 20px;
    height: 20px;
}
@media (max-width:762px) {
    .search-container{
        width: 400px;
    }
}
@media (max-width:426px) {
  .search-container{
    width: 380px;
  }
}
@media (max-width: 376px) {
    .search-container{
        width: 340px;
    }
    .search-button{
        display: none;
    }
}
.form{
    padding: 0 !important;
}

.filtered-device-grid {
    position: absolute;
    background: #fff;
    overflow-y: auto;
    max-height: 400px;
    width: 100%;
    max-width: 614px;
    top: 50px;
    left: 0;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
}

.filtered-device-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.filtered-device-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.filtered-device-card h3 {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.filtered-device-card:hover {
    background-color: #f9f9f9;
    transform: scale(1.02);
    border-color: #ddd;
}

.no-results {
    color: #999;
    text-align: center;
}