
.links2 {
    display: flex;
    background-color: #fff;
    gap: 25px;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
    z-index: 999;
    .links_p2 {
        font-family: Manrope;
        font-size: 12px;
        font-weight: 500;
        line-height: 16.39px;
        text-align: left;
        color: #7A7687;
    }
}
